@import "../../../../../../css/variables";

.column {
    float: left;
    position: relative;
    width: 20%;

    &>label {
        margin-top: -6px;
        display: block;
        height: 40px;
        text-align: center;

        span {
            display: block;
            margin-top:3px;
            font-weight: 400;
            color: $blue-primary;
        }
    }

    .day-area {
        border-bottom: 1px solid $table-border-primary;
        border-top: 1px solid $table-border-primary;
        display: block;
        height: 504px;
        position: relative;

        hr {
            margin-top: 41px;
            margin-bottom: 0;
            position: relative;
        }
    }
}