@import "../../../../../../css/variables";

.column {
    float: left;
    position: relative;
    width: 20%;

    label {
        display: block;
        height: 30px;
        text-align: center;
    }

    .day-area {
        border-bottom: 1px solid $table-border-primary;
        border-top: 1px solid $table-border-primary;
        display: block;
        height: 504px;
        position: relative;

        hr {
            margin-top: 41px;
            margin-bottom: 0;
            position: relative;
        }
    }
}