@import '../../../../css/variables';

.registered-courses-area {
    background: white;
    border: 1px solid $table-border-primary;
    float: right;
    margin-bottom: 10px;
    margin-left: 5px;
    width: 530px;

    table {
        margin-left: -1px;
        width: calc(100% + 1px);
    }
}
