@import "../../css/variables";

.preference {
    position: relative;

    .lock-icon {
        position: absolute;
        vertical-align: middle;
    }

    span {
        margin-left: 20px;

        &.green {
            color: $green-primary;
            font-weight: 500;
        }
    }

    &:hover {
        cursor: pointer;
    }
}