// General colors
$blue-primary: #385A7C;
$blue-primary-hover: #4273a0;
$blue-primary-clicked: #4682b3;

$blue-light: #4273a0;
$blue-light-hover: #4273a0; //Todo
$blue-light-clicked: #4273a0; //Todo

$green-primary: #5FBC66;
$green-primary-hover: #5FBC66; //Todo
$green-primary-clicked: #5FBC66; //Todo

$red-primary: #BD5E5E;
$red-primary-hover: #BD5E5E; //Todo
$red-primary-clicked: #BD5E5E; //Todo

$red-light: #BD5E5E; //Todo
$red-light-hover: #BD5E5E; //Todo
$red-light-clicked: #BD5E5E; //Todo

$yellow-primary: #FDEAB1;
$yellow-primary-hover: #FDEAB1; //Todo
$yellow-text: #BD7D48;
$yellow-dark: #EACB6E;
$yellow-dark-hover: #EACB6E; //Todo
$yellow-dark-clicked: #EACB6E; //Todo

$gray-font-primary: #6A6A6A;
$gray-font-primary-light: #B5B5B5;

// Component based colors
$background: #F8F8F8;
$blue-font-dark: #2A3D50;
$table-row-text-primary: #000;
$table-row-text-primary-hover: #000; //Todo
$table-row-text-primary-clicked: #000; // Todo
$table-border-primary: #E6E6E6;
$table-background: #F9F9F9;
$input-bottom-border: #ECEFF3;