// General colors
$blue-primary: #385A7C;
$blue-primary-hover: #385A7C; //Todo
$blue-primary-clicked: #385A7C; //Todo

$blue-light: #36587C;
$blue-light-hover: #36587C; //Todo
$blue-light-clicked: #36587C; //Todo

$gray-font-primary: #6A6A6A;

$green-primary: #5FBC66;
$green-primary-hover: #5FBC66; //Todo
$green-primary-clicked: #5FBC66; //Todo

$red-primary: #BD5E5E;
$red-primary-hover: #BD5E5E; //Todo
$red-primary-clicked: #BD5E5E; //Todo

$red-light: #BD5E5E; //Todo
$red-light-hover: #BD5E5E; //Todo
$red-light-clicked: #BD5E5E; //Todo

$yellow-primary: #FDEAB1;
$yellow-primary-hover: #FDEAB1; //Todo
$yellow-dark: #EACB6E;
$yellow-dark-hover: #EACB6E; //Todo
$yellow-dark-clicked: #EACB6E; //Todo

// Component based colors
$background: #F8F8F8;
$blue-font-dark: #2A3D50;
$table-row-text-primary: #000;
$table-row-text-primary-hover: #000; //Todo
$table-row-text-primary-clicked: #000; // Todo