@import "../../css/variables";

table.pracicals-table {
    margin-left: -15px !important;
    margin-right: 50px;
    width: calc(100% + 29px) !important;

    td {
        max-width: 100%;
    }
}

.lock-group-button {
    margin-top: 15px;
    width: 250px;
    float: right;
}