@import "../../css/variables";

.schedule-bar {
    display: inline-block;

    .wide {
        margin-left: 17px;
    }

    .narrow {
        margin-left: 10px;
    }

    .green {
        color: $green-primary;
    }
}
