@import '../../../../css/variables';

.search-area {
    background: white;
    border: 1px solid $table-border-primary;
    margin-bottom: 10px;

    .search-button {
        float: right;
        margin-right: 10px;
        width: 95px;
    }

    .search-result {
        margin-top: -25px;
        min-height: 131px;
        position: relative;

        .result-table {
            display: inline-block;
            width: 735px;
        }

        .buttons-area {
            bottom: 23px;
            display: inline-block;
            float: right;
            padding: 0 10px;
            position: absolute;
            width: 333px;

            * {
                margin-top: 5px;
            }
        }
    }

    #group-selection-modal {
        button.register {
            margin-top: 15px;
        }

        .dropdown-select-box {
            margin-bottom: 15px;
        }
    }
}

