@import '../../../../css/variables';

.search-area {
    background: white;
    border: 1px solid $table-border-primary;
    margin-bottom: 10px;

    .search-button {
        float: right;
        margin-right: 10px;
        width: 95px;
    }

    .search-result {
        margin-top: -25px;
        min-height: 131px;
        position: relative;

        .result-table {
            display: inline-block;
            width: 735px;
        }

        .buttons-area {
            bottom: 23px;
            display: inline-block;
            float: right;
            padding: 0 10px;
            position: absolute;
            width: 333px;

            * {
                margin-top: 5px;
            }
        }
    }

    .group-search-modal {
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        display: none;
        height: 100%;
        left: 0;
        overflow: auto;
        padding-top: 200px;
        position: fixed;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 100;

        .group-search-modal-content {
            background-color: #FEFEFE;
            border-radius: 2px;
            display: inline-block;
            padding: 15px;
            position: relative;
            text-align: left;
            width: 250px;

            & > h3 {
                font-weight: 500;
                margin-bottom: 25px;
                margin-top: 10px;
            }

            & > span {
                cursor: pointer;
                display: block;
                font-size: 20px;
                margin: 0 auto;
                padding: 0 4px;
                position: absolute;
                right: 20px;
                top: 20px;
            }

            & > button {
                margin-top: 15px;
            }

            .dropdown-select-box {
                margin-bottom: 15px;
            }
        }
    }
}

