@import '../../css/variables';

.input_field {
    border: none;
    border-bottom: 1px solid $input-bottom-border;
    color: $gray-font-primary;
    height: 30px;
    outline: none;
    padding: 0 4px;
    width: 88%;
}