@import '../../css/variables';

.flashMessage {
    background: $yellow-primary;
    border: 1px solid $yellow-dark;
    padding-left: 15px;
    margin-bottom: 10px;

    .icon {
        display: inline-block;
        float: left;
        width: 18px;
        margin-right: 10px;
        height: 41px;
    }

    p {
        color: $yellow-text;
        line-height: 41px;

        &:before {
            margin-right: 10px;
        }
    }

}