@import '../../containers/variables';

.flashMessage {
    background: $yellow-primary;
    border: 1px solid $yellow-dark;
    padding-left: 15px;
    margin-bottom: 10px;

    p {
        color: $yellow-text;
        line-height: 41px;

        &:before {
            content: "!";
            margin-right: 10px;
        }
    }

}