@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('HelveticaNeue-Bold.eot');
  src: url('HelveticaNeue-Bold.woff2') format('woff2'),
       url('HelveticaNeue-Bold.woff') format('woff'),
       url('HelveticaNeue-Bold.ttf') format('truetype'),
       url('HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url('HelveticaNeue-Light.eot');
  src: url('HelveticaNeue-Light.woff2') format('woff2'),
       url('HelveticaNeue-Light.woff') format('woff'),
       url('HelveticaNeue-Light.ttf') format('truetype'),
       url('HelveticaNeue-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url('HelveticaNeue-Medium.eot');
  src: url('HelveticaNeue-Medium.woff2') format('woff2'),
       url('HelveticaNeue-Medium.woff') format('woff'),
       url('HelveticaNeue-Medium.ttf') format('truetype'),
       url('HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeue.eot');
  src: url('HelveticaNeue.woff2') format('woff2'),
       url('HelveticaNeue.woff') format('woff'),
       url('HelveticaNeue.ttf') format('truetype'),
       url('HelveticaNeue.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Henry';
    src: url('HelveticaNeue-Bold.eot');
    src: url('HelveticaNeue-Bold.woff2') format('woff2'),
    url('HelveticaNeue-Bold.woff') format('woff'),
    url('HelveticaNeue-Bold.ttf') format('truetype'),
    url('HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}