@import "../../css/variables";

.timetable-time-bar {
    float: left;
    list-style: none;
    margin-top: 28px;
    width: 58px;
    color: $gray-font-primary_light;

    li {
        height: 42px;
        text-align: center;
    }
}