@import '../../containers/variables';

.sidebar {
    background: $blue-primary;
    float: left;
    height: 100%;
    text-align: center;
    width: 190px;
}

.logo {
    width: 115px;
    margin-top: 20px;
}