@import "../../css/variables";

table tbody tr td span.remove-icon {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 100%;
    padding-right: 10px;

    * {
        position: relative;
        height: 12px;
        display: inline-block;
    }
}