.detailed-search-area {
    margin: 0 10px 10px 10px;
    max-height: 15px;
    overflow: hidden;
    position: relative;
    transition: max-height 0.55s;
    z-index: 1;

    &.opened {
        max-height: 400px;
        transition: max-height 0.55s;
    }

    .toggle-button {
        text-align: right;
    }

    .content {
        margin-bottom: 25px;
    }
}