.detailed-search-area {
    margin: 0 0 10px 0;
    max-height: 15px;
    overflow: hidden;
    position: relative;
    transition: max-height 0.35s;
    z-index: 1;

    &.opened {
        max-height: 400px;
        height: 300px;
        transition: max-height 0.35s;
    }

    .toggle-button {
        text-align: right;
    }

    .content {
    }
}