@import "../../../css/variables";

.detailed-profile-box {
    background: white;
    border: 1px solid $table-border-primary;
    height: 110px;
    position: relative;
    right: 0px;
    top: 65px;
    width: 190px;
    z-index: 1;

    img {
        display: block;
        height: 55px;
        margin: 10px;
        position: absolute;
        width: 55px;
    }

    .info-text {
        float: right;
        margin: 10px;
        position: absolute;
        right: 7px;
        top: 5px;

        .name {
            font-size: 14px;
            font-weight: 700;
            line-height: 19px;
            margin-top: -4px;
        }

        .student-id {
            color: $blue-primary;
            font-weight: 700;
            line-height: 25px;
        }
    }

    .buttons {
        bottom: 0;
        float: left;
        position: absolute;
        width: 100%;

        .link {
            color: $blue-light;
            font-weight: 500;
            line-height: 35px;
            padding-left: 20px;
            padding-right: 20px;
            text-decoration: none;

            &:first-child {
                float: left;
            }

            &:last-child {
                float: right;
            }

            &:hover {
                color: $blue-font-dark;
            }

        }
    }
}