@import "../../css/variables";

.checkbox_container {
    cursor: pointer;
    display: block;
    width: 17px;
    position: relative;

    input {
        opacity: 0;
        position: absolute;

        &:checked {
            & ~ .check_mark {
                background-color: $gray-font-primary-light;
                border-color: $gray-font-primary-medium;
            }

            & ~ .green {
                background-color: $green-primary;
                border-color: $green-primary;
            }

            & ~ .blue {
                background-color: $blue-primary;
                border-color: $blue-primary;
            }
        }
    }

    .check_mark {
        background-color: white;
        border-radius: 2px;
        position: absolute;

        &:after {
            border: solid white;
            content: "";
            position: absolute;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
        }

        &.small {
            border: 1px solid $gray-font-primary-light;
            height: 13px;
            width: 13px;

            &:after {
                border-width: 0 2px 2px 0;
                top: 0;
                height: 7px;
                left: 3px;
                width: 3px;
            }
        }

        &.medium {
            border: 2px solid $gray-font-primary;
            height: 17px;
            width: 17px;

            &:after {
                border-width: 0 3px 3px 0;
                height: 8px;
                left: 3px;
                width: 4px;
            }
        }
    }
}
