@import "../../css/variables";

.checkbox_container {
    cursor: pointer;
    display: block;
}

.checkbox_container input {
    opacity: 0;
    position: absolute;
}

.check_mark {
    background-color: white;
    border: 2px solid $gray-font-primary;
    border-radius: 2px;
    height: 17px;
    position: absolute;
    width: 17px;

}

.checkbox_container input:checked ~ .check_mark {
    background-color: $green-primary;
    border-color: $green-primary;
}

.check_mark:after {
    content: "";
    position: absolute;
}

.checkbox_container .check_mark:after {
    border: solid white;
    border-width: 0 3px 3px 0;
    height: 8px;
    left: 3px;
    top: 0;
    transform: rotate(45deg);
    width: 4px;
    -ms-transform: rotate(45deg);
}

